@model Logichroma.Areas.Game.Models.GameDetailsViewModel
@{
    ViewBag.Title = "Logichroma";
}

<h2>@Model.Game.Name</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Game Status:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Status)
        </dd>
    </dl>
</div>

<div>
    <label>@Model.Game.GamePlayers.Count player(s) in this game:</label>
    <ul>
        @foreach (var player in Model.Game.GamePlayers)
        {
            <li>@player.DisplayName</li>
        }
    </ul>
</div>

@if (Model.CanJoinGame)
{
    using (Html.BeginForm("Join", "Details"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Game.Id);
        <div class="form-horizontal">
            <h3>Join This Game</h3>
            <div class="form-group">
                @Html.LabelFor(model => model.PlayerNickname, "Choose Your Nickname:", new { @class = "col-xs-12" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.PlayerNickname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PlayerNickname, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Join Game" class="btn btn-secondary" />
                </div>
            </div>
        </div>
    }
}

@if (Model.CanStartGame)
{
    <div>
        <p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("StartGame", "Details", new { Area = "Game", gameId = Model.Game.Id })">START GAME</a>
        </p>
    </div>
}

@if (Model.CanPlayGame)
{
    <div>
        <p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Play", new { Area = "Game", gameId = Model.Game.Id })">RESUME GAME</a>
        </p>
    </div>
}

@*<h3>The order of the deck is:</h3>
<div class="card-stack">
    @foreach (var card in Model.Game.GameCards)
    {
        <div class="card" style="background-color: @card.CardSuit.BackgroundColor;">
            <div class="card-container">
                <p style="color: @card.CardSuit.TextColor">
                    @card.CardValue.FaceValue
                </p>
            </div>
        </div>
    }
</div>
<div class="clear"></div>*@
