@model Logichroma.Areas.Game.Models.GameDetailsViewModel
@{
    ViewBag.Title = "Logichroma";
}

<h2>@Model.Game.Name</h2>

<div>
    <label>Game Status: </label>@Model.Game.Status
</div>

<div>
    <label>@Model.Game.GamePlayers.Count player(s) in this game:</label>
    <ul>
        @foreach (var player in Model.Game.GamePlayers)
        {
            <li>@(player.Nickname ?? player.UserName)</li>
        }
    </ul>
</div>

<h3>Player Hands:</h3>

@foreach (var player in Model.Game.GamePlayersInOrder)
{
    var playerCards = Model.Game.GameCards.Where(x => x.GamePlayerId == player.GamePlayerId);

    <div>@(player.Nickname ?? player.UserName)</div>
    <div class="deck">
        @foreach (var card in playerCards)
        {
            <div class="card" style="background-color: @card.BackgroundColor;">
                <div class="card-container">
                    <p style="color: @card.TextColor">
                        @card.CardTypeFaceValue
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="clear"></div>
}

